<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">

    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <link rel="stylesheet" href="/stylesheets/stylesheet.css" type="text/css" media="screen" />
        
        <title>Espera</title>
        
        <script type="text/javascript">

          var _gaq = _gaq || [];
          _gaq.push(['_setAccount', 'UA-37106261-1']);
          _gaq.push(['_setDomainName', 'flagbug.com']);
          _gaq.push(['_trackPageview']);

          (function() {
            var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
            ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
            var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
          })();

        </script>
    </head>
    
    <body>
        <div class="container">
            <header>
                <h1>Espera</h1>
                <nav>
                    <ul>
                        <li><a href="/">overview</a></li>
                        <li>release notes</li>
                    </ul>
                </nav>
            </header>
            <section class="screenshot">
                <div class="overlay">
                    <h2>Features</h2>
                    <ul class="features">
                        <li>- Minimalistic Design</li>
                        <li>- Seamless YouTube Integration</li>
                        <li>- Party Mode</li>
                    </ul>
                    <a id="download" href="">
                        Free Download
                        <br>
                        <small>Download Espera v1.6.5</small>
                    </a>
                </div>
            </section>
            <div id="subtitle">
                The best media player for partys. And everything else.
            </div>
        </div>
    </body>
</html>
