<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">

  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="msvalidate.01" content="1D63D92D86B098E3DB5017A1F0E014B3" />
    <meta name="description=" content="The best media player for parties - and everything else.">
    <link rel="stylesheet" href="/stylesheets/stylesheet.css" type="text/css" media="screen" />
    
    <title>Espera</title>
    
    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
    
      ga('create', 'UA-48357903-2', 'getespera.com');
      ga('send', 'pageview');
    
    </script>
  </head>
  
  <body>
    <div class="container">
      <header>
        <h1>Espera</h1>
        <nav>
          <ul>
            <li class="selected"><a href="/">overview</a></li>
            <li><a href="release-notes">release notes</a></li>
            <li><a href="about">about</a></li>
          </ul>
        </nav>
      </header>
      <h2>The best media player for parties. And everything else.</h2>
      <section class="screenshot">
        <div class="overlay">
          <ul class="features">
            <li>- Minimalistic Design</li>
            <li>- YouTube & SoundCloud Integration</li>
            <li>- Party Mode</li>
            <li>- Free &amp; Open source</li>
          </ul>
          <a class="download" href="EsperaSetup.exe" onclick="var that=this;_gaq.push(['_trackEvent','Download','exe',this.href]);setTimeout(function(){location.href=that.href;},200);return false;">
            Download Espera Setup
          </a>
          <a class="download" href="EsperaPortable.zip" onclick="var that=this;_gaq.push(['_trackEvent','Download','zip',this.href]);setTimeout(function(){location.href=that.href;},200);return false;">
            Download Espera Portable
          </a>
        </div>
      </section>
      <section class="features-extended">
        <ul>
          <li>
            <h3>YouTube Integration</h3>
            <p>
              Add songs from YouTube directly out of Espera to a playlist 
              and play them seamlessly.
            </p>
            <p>
              This means you can mix songs from YouTube and songs from your computer into one playlist.
            </p>
          </li>
          <li>
            <h3>SoundCloud Integration</h3>
            <p>
              Just as with YouTube, you can seamlessly add songs from SoundCloud to your playlist.
            </p>
          </li>
          <li>
            <h3>Party Mode</h3>
            <p>
              Lock Espera with the party mode and prevent your 
              guests from changing the volume or stopping the music, 
              while still being able to add new songs to the playlist.
            </p>
          </li>
        </ul>
      </section>
      <section class="remote-control">
        <img class="android-playlist" src="\images\AndroidPlaylist.png" />
        <div class="android-details">
          <h2>Control the playback with your phone</h2>
          <p>
            Espera is completely controllable with the Android app.
            <br>
            Control the volume and song order and add new songs to the playlist!
          </p>
          <a href="https://play.google.com/store/apps/details?id=com.flagbug.esperamobile">
            <img class="android-badge" alt="Get it on Google Play" src="/images/AndroidBadge.png" />
          </a>
          <h2>Let your guests choose the music</h2>
          With the Android app, guests can vote on songs and even add music on their phone directly to the playlist.
        </div>
      </section>
    </div>
  </body>
</html>
