<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">

    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <link rel="stylesheet" href="/stylesheets/stylesheet.css" type="text/css" media="screen" />
        
        <title>Espera</title>
        
        <script type="text/javascript">

          var _gaq = _gaq || [];
          _gaq.push(['_setAccount', 'UA-37106261-1']);
          _gaq.push(['_setDomainName', 'flagbug.com']);
          _gaq.push(['_trackPageview']);

          (function() {
            var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
            ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
            var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
          })();

        </script>
    </head>
    
    <body>
        <a href="https://github.com/flagbug/Espera"><img style="position: absolute; top: 0; right: 0; border: 0;" src="https://s3.amazonaws.com/github/ribbons/forkme_right_gray_6d6d6d.png" alt="Fork me on GitHub"></a>
        <div class="container">
            <header>
                <h1>Espera</h1>
                <nav>
                    <ul>
                        <li class="selected"><a href="/">overview</a></li>
                    </ul>
                </nav>
            </header>
            <section class="screenshot">
                <div class="overlay">
                    <h2>The best media player for parties. And everything else.</h2>
                    <ul class="features">
                        <li>- Minimalistic Design</li>
                        <li>- Seamless YouTube Integration</li>
                        <li>- Party Mode</li>
                        <li>- Open Source</li>
                    </ul>
                    <a class="download" href="http://s3.amazonaws.com/espera/EsperaSetup.exe" onclick=”var that=this;_gaq.push(['_trackEvent','Download','exe',this.href]);setTimeout(function(){location.href=that.href;},200);return false;”>
                        Download Setup
                        <br>
                        <small>Espera v1.6.8</small>
                    </a>
                    <a class="download" href="http://s3.amazonaws.com/espera/EsperaPortable.zip" onclick=”var that=this;_gaq.push(['_trackEvent','Download','zip',this.href]);setTimeout(function(){location.href=that.href;},200);return false;”>
                        Download Portable
                        <br>
                        <small>Espera v1.6.8</small>
                    </a>
                </div>
            </section>
            <div class="feature-box">
                <h2>YouTube Integration</h2>
                <p>
                    Add songs from YouTube to a playlist and play them seamlessly.
                </p>
            </div>
            <div class="feature-box">
                <h2>Party Mode</h2>
                <p>
                    Lock Espera with the party mode and prevent your 
                    guests from changing the volume or stop the music, 
                    while still be able to add new songs to the playlist.
                </p>
            </div>
            <div class="feature-box">
                <h2>Removable devices</h2>
                <p>
                    Add songs from Mp3-players and other removable devices
                    to a playlist. The songs are automatically cached on the computer
                    and the device can be removed.
                </p>
            </div>
        </div>
    </body>
</html>
